﻿@{
    ViewData["Title"] = "İletişim";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Anadolu Üniversitesi - İki Eylül Kampüsü - Bilgisayar Mühendisliği Bölümü
</address>


<h1>Proje Grup Üyeleri</h1>
<ul class="list-group">
    <li class="list-group-item">
        <img src="~/images/mert.jpeg" class="img-responsive img-rounded" style="width:300px; height:200px; display:inline"/>
        <div style="display:inline-block">
            <div class="pull-left">
                <h2>Halil Mert Açıkportalı</h2>                
                <address>
                    <strong>Email:</strong> <a href="mailto:mertacikportali@gmail.com">mertacikportali@gmail.com</a>
                </address>
                <span> Mobil Uygulama geliştirme sorumlusu</span><strong>--ESKİŞEHİR</strong>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <img src="~/images/sinem.jpeg" class="img-responsive img-rounded" style="width:300px; height:200px; display:inline" />
        <div style="display:inline-block">
            <div class="pull-left">
                <h2>Sinem Karamanoğlu</h2>
                
                <address>
                    <strong>Email:</strong> <a href="mailto:snemkaramanoglu@gmail.com">sinemkaramanoglu@gmail.com</a>
                </address>
                
                <span> Web GUI geliştirme sorumlusu</span><strong>--ESKİŞEHİR</strong>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <img src="~/images/furkan.jpeg" class="img-responsive img-rounded" style="width:300px; height:200px; display:inline" />
        <div style="display:inline-block">
            <div class="pull-left">
                <h2>Furkan Özbay</h2>
                <address>
                    <strong>Email:</strong> <a href="mailto:furkanozbay@anadolu.edu.tr">furkanzbay@anadolu.edu.tr</a>
                </address>
                <span> Mobil Uygulama geliştirme sorumlusu</span><strong>--ESKİŞEHİR</strong>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <img src="~/images/ahmet.jpg" class="img-responsive img-rounded" style="width:300px; height:200px; display:inline" />
        <div style="display:inline-block">
            <div class="pull-left">
                <h2>Ahmet Öztürk</h2>
                <address>
                    <strong>Email:</strong> <a href="mailto:ozturk443@anadolu.edu.tr">ahmetöztürk@anadolu.edu.tr</a>
                </address>
                <span> Web API geliştirme sorumlusu</span><strong>--ESKİŞEHİR</strong>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <img src="~/images/fatih.jpeg" class="img-responsive img-rounded" style="width:300px; height:200px; display:inline" />
        <div style="display:inline-block">
            <div class="pull-left">
                <h2>Fatih Furkan Aslan</h2>
                <address>
                    <strong>Email:</strong> <a href="mailto:furkaanarslan@hotmail.com">furkaanarslan@hotmail.com</a>
                </address>
                <span> Database geliştirme sorumlusu</span><strong>--ANKARA</strong>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <img src="~/images/metin.png" class="img-responsive img-rounded" style="width:300px; height:200px; display:inline" />
        <div style="display:inline-block">
            <div class="pull-left">
                <h2>Metin Bulak</h2>
                <address>
                    <strong>Email:</strong> <a href="mailto:mb196@anadolu.edu.tr">mb196@anadolu.edu.tr</a>
                </address>
                <span> Database geliştirme sorumlusu</span><strong>--DİYARBAKIR</strong>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <img src="~/images/gamze.jpg" class="img-responsive img-rounded" style="width:300px; height:200px; display:inline" />
        <div style="display:inline-block">
            <div class="pull-left">
                <h2>Gamze Selvili</h2>
                <address>
                    <strong>Email:</strong> <a href="mailto:Gamzeselvili1@gmail.com">Gamzeselvili1@gmail.com</a>
                </address>
                <span> Web GUI geliştirme sorumlusu</span><strong>--SİVAS</strong>
            </div>
        </div>
    </li>
</ul>
