﻿@{
    ViewData["Title"] = "AnaSayfa";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/images3.jpg" alt="help" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   yardım etmek için bir sebep aramaya gerek yok
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/images2.jpg" alt="help" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Birlikte daha güvenli ve daha yaşanabilir bir şehir olalım
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/images4.jpg" alt="help" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   hepimiz birer kahramanız ve insanlarımıza göz kulak oluruz
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/images5.jpg" alt="help" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   el ele verirsek başarabiliriz
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Geri</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">İleri</span>
    </a>
</div>

<div class="row" style="background-color:bisque;">
    <div class="col-md-4">
        <h2>Haber Sizsiniz</h2>
        <ul>
            <li>Şehrinizde olup bitenleri haber yapın</li>
            <li>Böylece şehrin haberi olsun</li>
            <li>İnsanlardan yardım isteyin ve yardıma ihtiyacı olanlara yardım edin</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Peki Nasıl?</h2>
        <ul>
            <li>Mobil Uygulamamızı indirin yada web sitemize ulaşın</li>
            <li>haberin fotoğraflarını çekin başlık, manşet ve ayrıntıları yazın. Sonra paylaşın</li>
            <li>Çevrenizdeki herkes hemen haberdar olsun</li>
            <li>Böylece problemlere birlikte göğüs gerelim</li>
            <li>Sadece yardım istemekle kalmayın sistemimizden çevrenizde olan biteni öğrenin ve yardım edin</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Sistem Kullanımı</h2>
        <ul>
            <li>Mobil uygulamamızı indirin veya web ten bize erişin</li>
            <li>Üye olun ve oturduğunuz şehri belirtin</li>
            <li>Duyarlı haberler yapın ve haberleri takip edin</li>
            <li>Kötüye kullanımlarda üyeliğiniz askıya alınır veya iptal edilir</li>
        </ul>
    </div>
</div>
